body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: pink;

}
.container{
    padding :10px;
    /* background-color: #f4f4f4; */
    border-radius: 4px;
    box-shadow: 4px 4px 7px;
}

#taskInput {
    padding :7px;
    border :2px solid black;
    border-radius: 4px;
    width: 70%;
    margin-bottom: 5px;
    background-color:pink;
}

button{
    padding : 5px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    background-color: rgb(154, 244, 150);
    
}

button:hover{
    background-color:rgb(186, 246, 181);
    

}

ul{
    list-style-type: none;
    padding : 0px;
}

li{
    padding:4px;

}
#delete{
    background-color: red;
    color:white;
    border: 1px solid gray;
    border-radius: 4px;
    margin-left:40px
}